/*
@media only screen and (min-width: 1600px) {
    .ui.container {
        width: 1600px;
    }
}
*/

.blurring.dimmable>.dimmer {
    background-color: rgba(66,105,140,.6);
}

.ui.inverted.menu {
    border: 0 solid transparent;
    background: #0f4c64;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
    background: #0f4c64;
    color: rgba(255,255,255,.9);
}
