<div class="ui basic segment">
    <div class="ui three column stackable grid">
        <div class="column">
            <a href="{{ path('sylius_shop_homepage') }}"><img src="{{ asset('assets/shop/img/logo.png') }}" alt="Виктис" class="ui small image" /></a>
        </div>
        <div class="column">
            <span class="ui header">(812) 715-52-53<br/>(812) 715-23-23</span>
            {{ sonata_block_render_event('sylius.shop.layout.header') }}
        </div>
        <div class="right aligned column">

        </div>
    </div>
</div>
