<footer id="footer" class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui inverted divided equal height stackable grid">
            <div class="four wide column">
                <h4 class="ui inverted header">Виктис</h4>
                <div class="ui inverted link list">
                    <a href="http://viktis.ru/%D0%BA%D0%BE%D0%BD%D1%82%D0%B0%D0%BA%D1%82%D1%8B-%D0%BA%D0%BE%D0%BC%D0%BF%D0%B0%D0%BD%D0%B8%D0%B8-%D0%B2%D0%B8%D0%BA%D1%82%D0%B8%D1%81/" class="item">Контакты</a>
                    <a href="http://viktis.ru/%D1%81%D0%B5%D1%80%D1%82%D0%B8%D1%84%D0%B8%D0%BA%D0%B0%D1%82%D1%8B/" class="item">Сертификаты</a>
                    <a href="http://viktis.ru/%D0%B4%D0%BE%D1%81%D1%82%D0%B0%D0%B2%D0%BA%D0%B0-%D0%B2-%D0%BA%D0%BE%D0%BC%D0%BF%D0%B0%D0%BD%D0%B8%D0%B8-%D0%B2%D0%B8%D0%BA%D1%82%D0%B8%D1%81/" class="item">Доставка</a>
                    <a href="http://viktis.ru" class="item">Корпоративный сайт</a>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui inverted link list">
                    <h4 class="ui inverted header">Юридический адрес:</h4>
                    <a class="item" href="https://www.google.com/maps/place/%D0%91%D0%BE%D0%BB%D1%8C%D1%88%D0%BE%D0%B9+%D0%A1%D0%B0%D0%BC%D0%BF%D1%81%D0%BE%D0%BD%D0%B8%D0%B5%D0%B2%D1%81%D0%BA%D0%B8%D0%B9+%D0%BF%D1%80.,+84,+%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3,+194100/@59.9855538,30.331707,17z/data=!4m8!1m2!2m1!1zMTk0MTAwLCDQsy4g0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMg0JHQvtC70YzRiNC-0Lkg0KHQsNC80L_RgdC-0L3QuNC10LLRgdC60LjQuSDQv9GALdGCLCDQtC4gODQsINC70LjRgi4g0JAsINC_0L7QvC4gMi1I!3m4!1s0x469633efe8855d97:0xb1c5947bc7418fc6!8m2!3d59.985629!4d30.333901">194100, г. Санкт-Петербург<br/>
		            Большой Сампсониевский пр-т,<br/>
		            д. 84, лит. А, пом. 2-H</a>
		    <a class="item">ООО «Виктис»</a>
                    <a class="item">ИНН 7814313541, КПП 780201001</a>
                    <a class="item">ОГРН 1057810059196</a>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui inverted link list">
                    <h4 class="ui inverted header"></h4>
                    <h4 class="ui inverted header"></h4>
		            <a class="item" href="tel:7-812-715-52-53">+7 (812) 715 52-53</a>
		            <a class="item" href="tel:7-812-715-23-23">+7 (812) 715 23-23</a>
                    <a class="item" href="mailto:info@viktis.ru">info@viktis.ru</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(43207924, "init", {
            id:43207924,
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/43207924" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</footer>


