/*

body {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
   font-size: 14px;
   line-height: 1.4285em;
   color: #236c79;
   }

*/

.blurring.dimmable>.dimmer {
    background-color: rgba(66,105,140,.6);
}

.ui.inverted.menu {
    border: 0 solid transparent;
    background: #0f4c64;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
    border: 0 solid transparent;
    background: #0f4c64;
    -webkit-box-shadow: none;
    box-shadow: none;
}

table {
    border-collapse: collapse;
}
table td, th {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
}
